.template-password {

  main {
    min-height: calc(100vh - var(--header-height) - var(--announcement-height));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: calc(var(--announcement-height) + var(--header-height));

    .wrapper {
      width: 100%;
      padding: 40px var(--page-margin);
    }

    h1 {
      text-align: center;
      margin-bottom: 40px;

      & + p {
        margin-bottom: 40px;
      }
    }

    .btn {
      margin: 40px auto 0;
    }
  }

  .header__logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .header__right,
  .header__links,
  #shopify-section-reassurance,
  #shopify-section-newsletter,
  #shopify-section-footer {
    display: none;
  }
}