<section class="reset-password page wrapper">

    <h1 class="h3">Réinitialisation du mot de passe</h1>

    {% form 'reset_customer_password' %}

        <label class="field">
            <input type="password" name="customer[password]" required placeholder="Mot de passe*">
        </label>

        <label class="field">
            <input type="password" name="customer[password_confirmation]" required placeholder="Confirmation du mot de passe*">
        </label>

        {% if form.errors %}
            <div class="form__error">
                {{ form.errors | default_errors }}
            </div>
        {% endif %}

        <button type="submit" class="btn"><span>Valider</span></button>

    {% endform %}

</section>
