<section class="carousel wrapper">
    <div class="carousel__header">
        <h2 class="carousel__title h3">{% if cart.item_count > 0 %}{{ section.settings.title }}{% else %}Nouveauté{% endif %}</h2>
    </div>
    <div class="carousel__products">

        {% if cart.item_count > 0 %}

            {% assign list = cart.items[0].product.type | split: '#' %}
            {% assign count = 0 %}
            {% assign size = "Taille_Taille unique"  %}

            {% for item in cart.items %}

                {% if count >= 12 %}{% break %}{% endif %}

                {% for tag in item.product.tags %}
                    {% if tag contains 'Taille_' or tag contains "Pointure_" %}
                        {% assign size = tag %}
                    {% endif %}
                {% endfor %}

                {% for col in item.product.collections %}

                    {% if count >= 12 %}{% break %}{% endif %}

                    {% for product in col.products %}
                        {% if count >= 12 %}{% break %}{% endif %}
                        {% unless list contains product.type %}
                            {% assign is_in_cart = cart.items | where: 'product_id', product.id %}
                            {% if product.price > 0 and product.available and product.tags contains size and is_in_cart.size == 0 %}
                                {% assign count = count | plus: 1 %}
                                {% assign list = list | join: '#' | append: '#' | append: product.type | split: '#' %}
                                <div class="carousel__product">
                                    {% render 'product-card' with product: product, h3: true %}
                                </div>
                            {% endif %}
                        {% endunless %}
                    {% endfor %}

                {% endfor %}

            {% endfor %}

        {% else %}
            {% for item in collections["nouveautes"].products limit: 20 %}
                <div class="carousel__product">
                    {% render 'product-card' with product: item, h3: true %}
                </div>
            {% endfor %}
        {% endif %}

    </div>

</section>

{% schema %}
    {
    "name": "Suggestions panier",
    "settings": [
    {
    "id": "title",
    "label": "Titre",
    "type": "text",
    "default": "Vous pourriez aimer"
    }
    ]
    }
{% endschema %}