<div class="wrapper small">

    <h1 class="h3">Bienvenue</h1>
    <p>{{ shop.password_message }}</p>

    {% form 'storefront_password' %}

        {% if form.errors %}
            <div class="login__error">
                {{ form.errors | default_errors }}
            </div>
        {% endif %}

        <div class="form">
            <label class="field">
                <input type="password" name="password" required id="password">
                <span for="password">Mot de passe *</span>
            </label>
        </div>

        <button type="submit" class="btn"><span>Accéder au site</span></button>

    {% endform %}

</div>
